@import "compass/css3";

body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.block {
  border: solid black 2px;
  //width: 133px;
  height: 60px;
  display: inline-block;
}

.occupied {
  background-color: #1CA99E
}