/* line 3, style.scss */
body {
  padding: 20px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 8, style.scss */
a {
  color: #00B7FF;
}

/* line 12, style.scss */
.block {
  border: solid black 2px;
  height: 60px;
  display: inline-block;
}

/* line 19, style.scss */
.occupied {
  background-color: #1CA99E;
}
