/* line 3, style.scss */
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 8, style.scss */
a {
  color: #00B7FF;
}

/* line 12, style.scss */
.block {
  border: solid black 2px;
}
